<div class="menu-item"
     [ngClass]="{'verticalMenu': menuService.isVertical, 'router-link-active': isActiveRoute}"
     (click)="menuService.showLeftSideMenu = false">
  <span class="glyphicon {{item.icon}}"></span>
  <span>{{item.text.toUpperCase()}}</span>

</div>
<fw-popup-menu
  *ngIf="mouseInPopup || mouseInItem"
  [menu]="item.submenu"
  [ngClass]="{'vertical-menu': menuService.isVertical}"
  (mouseenter)="onPopupMouseEnter($event)"
  (mouseleave)="onPopupMouseLeave($event)"
  [style.left.px]="popupLeft"
  [style.top.px]="popupTop"
></fw-popup-menu>
